In [80]:
import pandas as pd

reviews_df=pd.read_csv('data/reviews.csv')
reviews_df.head()

,id_,helpful,funny,username,owned,numrev,recommended,time,posted,content
0,1057540,0,0,76561199010786998,8,3,1,9.2,"30 November, 2020","Short and sweet, worth the price."
1,1057540,0,0,yodeitz,757,26,1,6.2,"29 November, 2020",Short but fun RPG. Lighthearted story telling...
2,1057540,0,0,76561197965250496,12,6,1,6.6,"29 November, 2020",This game is just as fun as the first one in t...
3,1057540,0,0,SkyIineTo,100,15,1,2.9,"27 November, 2020",REALLY CUTE WORTH THE SUNDAY PLAY
4,1057540,0,0,iamalphena,146,2,1,20.0,"26 November, 2020",This is a fantastic holiday turn based RPG tha...

In [81]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 10 columns):
id_            142111 non-null int64
helpful        142111 non-null int64
funny          142111 non-null int64
username       142111 non-null object
owned          142111 non-null int64
numrev         142111 non-null int64
recommended    142111 non-null int64
time           142111 non-null float64
posted         142111 non-null object
content        141851 non-null object
dtypes: float64(1), int64(6), object(3)
memory usage: 10.8+ MB

In [82]:
reviews_df['id_'].value_counts()

377160     53757
268500     23648
1237970    17968
247080      8833
310950      7112
584400      7015
373420      6346
224760      4695
560130      4070
589360      2564
412830      1997
385760      1649
1238840     1457
809230       512
402430       388
1057540      100
Name: id_, dtype: int64

In [93]:
## 리뷰를 여러개 등록한 유저 확인

# 게임id로 groupby한 뒤 username으로 groupby
grouped=reviews_df.groupby(['id_', 'username'])
# 한 게임에 2개 이상의 리뷰를 남긴 유저들 조회
gr_cnt=grouped.size().reset_index(name='counts')
gr_cnt[gr_cnt['counts']>1]

            id_                  username  counts
5438     247080         76561198017829127       2
5461     247080         76561198019650922       2
5887     247080         76561198042695309       2
6648     247080         76561198085576894       2
7750     247080         76561198332923409       2
8010     247080         76561198969857199       2
10030    247080                ZephyrWish       2
10332    247080                    bliemm       2
10924    247080               emanasaurus       2
10958    247080  eviloverlordofprovidence       2
11188    247080                 greg20man       2
11195    247080                grimpickle       2
11418    247080                jadedspark       2
11737    247080               lordseancap       2
11776    247080               lyricalpaws       2
11800    247080               magpieparty       2
12201    247080                omnomasaur       2
12989    247080                 technikky       2
13012    247080                 tfwnolief       2
13274    247080               vergilius35       2
14491    268500         76561197972027080       2
16163    268500         76561198000278391       2
17124    268500         76561198008289970       2
17423    268500         76561198010709149       2
18905    268500         76561198029043078       2
20703    268500         76561198046961562       2
22428    268500         76561198069839182       2
22820    268500         76561198075046085       2
23819    268500         76561198095260633       2
23831    268500         76561198095552596       2
...         ...                       ...     ...
132009  1237970                  CladHail       2
132248  1237970           DetectiveWombat       2
132332  1237970                 Dubitybub       2
132593  1237970             FuzzySnowyBoi       2
132791  1237970             HikoTheWizard       2
133021  1237970                     Jb0n3       2
133483  1237970                MaunkeyMan       2
137835  1237970         letters-n-numbers       2
138381  1237970                nibbagames       2
138853  1237970           qwertyqwerispro       2
140450  1238840         76561197969962618       2
140463  1238840         76561197989201493       2
140569  1238840         76561198072064257       2
140663  1238840         76561198158894499       2
140680  1238840         76561198175676443       2
140689  1238840         76561198186261565       2
140742  1238840         76561198253421621       2
140761  1238840         76561198273948126       2
140966  1238840         76561198814265927       2
141051  1238840         76561198923250706       2
141166  1238840         76561199041840925       2
141250  1238840                  Andrits2       2
141343  1238840                  HotC0coa       2
141404  1238840                  Nokexddx       2
141565  1238840                 davidjnog       2
141649  1238840              kajmakdelija       2
141675  1238840               mariusica2k       2
141690  1238840                    mvd289       2
141722  1238840           pythonblackbelt       2
141748  1238840                  scsa3166       2

[260 rows x 3 columns]

In [85]:
# 불필요한 속성 제거: id_, username, recommended 제외한 속성들 모두 제거
reviews_df.drop(["helpful", "funny", "owned", "numrev", "time", "posted", "content"], axis=1, inplace=True)

In [86]:
reviews_df['recommended'].value_counts()

 1    118437
-1     23674
Name: recommended, dtype: int64

In [87]:
# @@ recommended 속성의 not recommended 값을 -1에서 0으로 교체? : --> 미정 @@
reviews_df.replace({'recommended':-1}, {'recommended':0}, inplace=True)

In [88]:
# 교체결과 확인
reviews_df['recommended'].value_counts()

1    118437
0     23674
Name: recommended, dtype: int64