In [6]:
import pandas as pd

reviews_df=pd.read_csv('data/reviews.csv')
reviews_df.head()

,id_,helpful,funny,username,owned,numrev,recco,time,posted,content
0,1057540,0,0,76561199010786998,8,3,1,9.2,"30 November, 2020","Short and sweet, worth the price."
1,1057540,0,0,yodeitz,757,26,1,6.2,"29 November, 2020",Short but fun RPG. Lighthearted story telling...
2,1057540,0,0,76561197965250496,12,6,1,6.6,"29 November, 2020",This game is just as fun as the first one in t...
3,1057540,0,0,SkyIineTo,100,15,1,2.9,"27 November, 2020",REALLY CUTE WORTH THE SUNDAY PLAY
4,1057540,0,0,iamalphena,146,2,1,20.0,"26 November, 2020",This is a fantastic holiday turn based RPG tha...

In [7]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142111 entries, 0 to 142110
Data columns (total 10 columns):
id_         142111 non-null int64
helpful     142111 non-null int64
funny       142111 non-null int64
username    142111 non-null object
owned       142111 non-null int64
numrev      142111 non-null int64
recco       142111 non-null int64
time        142111 non-null float64
posted      142111 non-null object
content     141851 non-null object
dtypes: float64(1), int64(6), object(3)
memory usage: 10.8+ MB

In [8]:
reviews_df['id_'].value_counts()

377160     53757
268500     23648
1237970    17968
247080      8833
310950      7112
584400      7015
373420      6346
224760      4695
560130      4070
589360      2564
412830      1997
385760      1649
1238840     1457
809230       512
402430       388
1057540      100
Name: id_, dtype: int64